.blog,
.blog * {
  box-sizing: border-box;
}
.blog {
  background: #ffffff;
  width: 1440px;
  height: 3018px;
  position: relative;
  overflow: hidden;
}
._133549228-helping-the-poor-in-society-by-sharing-food-charity-the-concept-of-food-donation-and-food-needs-1 {
  opacity: 0.8500000238418579;
  width: 1440px;
  height: 542px;
  position: absolute;
  left: calc(50% - 720px);
  top: 156px;
}
.charity-donations-fundraising-nonprofit-volunteer-concept-2 {
  width: 1440px;
  height: 542px;
  position: absolute;
  left: calc(50% - 720px);
  top: 156px;
}
.beyond-crowdfunding-begin-your-journey-of-impact-with-charit-ease {
  text-align: left;
  position: absolute;
  left: 119px;
  top: 273px;
}
.beyond-crowdfunding-begin-your-journey-of-impact-with-charit-ease-span {
  color: var(--secondarycolor-60-main, #ef3e23);
  font: 700 56px/68px "HelveticaNeue", sans-serif;
}
.beyond-crowdfunding-begin-your-journey-of-impact-with-charit-ease-span2 {
  color: var(--white-10-stroke, #ffffff);
  font: var(--header-h-2-semi-bold, 500 48px/60px "HelveticaNeue", sans-serif);
}
.beyond-crowdfunding-begin-your-journey-of-impact-with-charit-ease-span3 {
  color: var(--primarycolor-60-main, #024074);
  font: 500 40px/60px "HelveticaNeue", sans-serif;
}
.our-favourite-articles {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 40px/48px "HelveticaNeue", sans-serif;
  position: absolute;
  left: 120px;
  top: 752px;
}
.resources-for-fundraising-ideas {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 40px/48px "HelveticaNeue", sans-serif;
  position: absolute;
  left: 123px;
  top: 1218px;
}
.our-popular-articles {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 40px/48px "HelveticaNeue", sans-serif;
  position: absolute;
  left: 117px;
  top: 1699px;
}
.frame-140 {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1001px;
  top: 1296px;
}
.medicals-expenses {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.sports {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.memorials-and-funerals {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.weddings {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.adventures-and-trips {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.frame-139 {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 646px;
  top: 1296px;
}
.animal-cause {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.cancer {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.wild-fire-accidents {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.political-campaigns {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.non-profit-cause {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.rectangle-43 {
  border-radius: 10px;
  width: 348px;
  height: 231px;
  position: absolute;
  left: 124px;
  top: 830px;
}
.rectangle-44 {
  border-radius: 10px;
  width: 348px;
  height: 231px;
  position: absolute;
  left: 544px;
  top: 830px;
}
.rectangle-45 {
  border-radius: 10px;
  width: 348px;
  height: 231px;
  position: absolute;
  left: 970px;
  top: 830px;
}
.frame-135 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 144px;
  top: 860px;
}
.crowfunding-101 {
  color: #ffffff;
  text-align: left;
  font: var(--header-h-6-bold, 700 20px/28px "HelveticaNeue", sans-serif);
  position: relative;
}
.how-to-raise-money-for-your-cause-by-running-a-successful-fundraising-campaign {
  color: #ffffff;
  text-align: left;
  font: 500 18px/28px "DM Sans", sans-serif;
  position: relative;
}
.frame-136 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 564px;
  top: 860px;
}
.fundraising-ideas {
  color: #ffffff;
  text-align: left;
  font: var(--header-h-6-bold, 700 20px/28px "HelveticaNeue", sans-serif);
  position: relative;
}
.how-to-strategically-come-up-with-the-perfect-fundraisers-for-your-cause {
  color: #ffffff;
  text-align: left;
  font: 500 18px/28px "DM Sans", sans-serif;
  position: relative;
}
.frame-137 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 990px;
  top: 860px;
}
.peer-to-peer-fundraisng {
  color: #ffffff;
  text-align: left;
  font: 700 20px/28px "HelveticaNeue", sans-serif;
  position: relative;
}
.plan-a-successful-peer-to-peer-fundraising-campaign {
  color: #ffffff;
  text-align: left;
  font: 500 18px/28px "DM Sans", sans-serif;
  position: relative;
}
.frame-138 {
  border-radius: 16px;
  border-style: solid;
  border-color: var(--secondarycolor-60-main, #ef3e23);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 48px;
  position: absolute;
  left: 964px;
  top: 1090px;
}
.button {
  color: var(--secondarycolor-60-main, #ef3e23);
  text-align: left;
  font: 500 16px "HelveticaNeue", sans-serif;
  position: relative;
}
.frame-233 {
  border-radius: 16px;
  border-style: solid;
  border-color: var(--secondarycolor-60-main, #ef3e23);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 48px;
  position: absolute;
  left: 124px;
  top: 1090px;
}
.frame-24 {
  border-radius: 16px;
  border-style: solid;
  border-color: var(--secondarycolor-60-main, #ef3e23);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 48px;
  position: absolute;
  left: 544px;
  top: 1090px;
}
.frame-141 {
  width: 1198px;
  height: 329px;
  position: absolute;
  left: 120px;
  top: 1777px;
}
.frame-157 {
  width: 1200px;
  height: 56px;
  position: absolute;
  left: 120px;
  top: 2120px;
}
.article-1 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: -343px;
}
.rectangle-46 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 348px;
  height: 329px;
  position: relative;
}
.fundraising-idea-50-easy-campaigns-for-any-cause {
  color: var(--neutral-70, #2f2f2f);
  text-align: left;
  font: 500 18px/28px "DM Sans", sans-serif;
  position: relative;
}
.article-2 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 423px;
  top: -343px;
}
.rectangle-47 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 348px;
  height: 329px;
  position: relative;
}
.crowdfunding-websites-top-10-most-used-crowdfunding-platforms {
  color: var(--neutral-70, #2f2f2f);
  text-align: left;
  font: 500 18px/28px "DM Sans", sans-serif;
  position: relative;
}
.article-3 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 848px;
  top: -343px;
}
.rectangle-48 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 348px;
  height: 329px;
  position: relative;
}
._20-virtual-campaign-ideas-to-generate-donors-for-any-campaign-cause {
  color: var(--neutral-70, #2f2f2f);
  text-align: left;
  font: 500 18px/28px "DM Sans", sans-serif;
  position: relative;
}
.frame-23 {
  border-radius: 16px;
  border-style: solid;
  border-color: var(--secondarycolor-60-main, #ef3e23);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 48px;
  position: absolute;
  left: 120px;
  top: 2190px;
}
.frame-158 {
  border-radius: 16px;
  border-style: solid;
  border-color: var(--secondarycolor-60-main, #ef3e23);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 48px;
  position: absolute;
  left: 543px;
  top: 2190px;
}
.frame-159 {
  border-radius: 16px;
  border-style: solid;
  border-color: var(--secondarycolor-60-main, #ef3e23);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 48px;
  position: absolute;
  left: 970px;
  top: 2190px;
}
.rectangle-49 {
  width: 1200px;
  height: 286px;
  position: absolute;
  left: calc(50% - 600px);
  top: 2318px;
}
.start-a-free-fundraiser-join-thousands-of-others-to-raise-money-for-your-cause {
  text-align: left;
  position: absolute;
  left: 156px;
  top: 2386px;
}
.start-a-free-fundraiser-join-thousands-of-others-to-raise-money-for-your-cause-span {
  color: var(--secondarycolor-60-main, #ef3e23);
  font: 700 40px/40px "HelveticaNeue", sans-serif;
}
.start-a-free-fundraiser-join-thousands-of-others-to-raise-money-for-your-cause-span2 {
  color: var(--white-10-stroke, #ffffff);
  font: 500 24px/40px "HelveticaNeue", sans-serif;
}
.primary-color {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 56px;
  position: absolute;
  left: 156px;
  top: 2527px;
}
.button2 {
  color: var(--white-10-stroke, #ffffff);
  text-align: left;
  font: 500 16px "HelveticaNeue", sans-serif;
  position: relative;
}
.hero-cta {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 120px;
  top: 486px;
}
.secondary-color {
  border-radius: 16px;
  border-style: solid;
  border-color: var(--white-10-stroke, #ffffff);
  border-width: 2px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 300px;
  height: 56px;
  position: relative;
}
.button3 {
  color: #d9d9d9;
  text-align: left;
  font: 700 16px "HelveticaNeue", sans-serif;
  position: relative;
}
.frame-21 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 56px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button4 {
  color: var(--white-10, #ffffff);
  text-align: left;
  font: 500 16px "HelveticaNeue", sans-serif;
  position: relative;
}
.vuesax-linear-lovely {
  opacity: 0.5;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 897px;
  top: 1186px;
}
.vuesax-linear-lovely2 {
  position: absolute;
  inset: 0;
}
.lovely {
  width: 32px;
  height: 32px;
  position: static;
}
.group {
  width: 26.67px;
  height: 23.73px;
  position: static;
}
.group2 {
  position: absolute;
  left: 2.67px;
  top: 4.13px;
  overflow: visible;
}
.group3 {
  position: absolute;
  left: 11.51px;
  top: 12px;
  overflow: visible;
}
.vector3 {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vuesax-linear-lovely3 {
  opacity: 0.5;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 386px;
  top: 709px;
}
.group4 {
  position: absolute;
  left: 2.67px;
  top: 4.13px;
  overflow: visible;
}
.group5 {
  position: absolute;
  left: 11.51px;
  top: 12px;
  overflow: visible;
}
.vector6 {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vuesax-linear-lovely4 {
  opacity: 0.5;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1224px;
  top: 744px;
}
.group6 {
  position: absolute;
  left: 2.67px;
  top: 4.13px;
  overflow: visible;
}
.group7 {
  position: absolute;
  left: 11.51px;
  top: 12px;
  overflow: visible;
}
.vector9 {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vuesax-linear-lovely5 {
  opacity: 0.5;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 507px;
  top: 1612px;
}
.group8 {
  position: absolute;
  left: 2.67px;
  top: 4.13px;
  overflow: visible;
}
.group9 {
  position: absolute;
  left: 11.51px;
  top: 12px;
  overflow: visible;
}
.vector12 {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vuesax-linear-lovely6 {
  opacity: 0.5;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1258px;
  top: 1702px;
}
.group10 {
  position: absolute;
  left: 2.67px;
  top: 4.13px;
  overflow: visible;
}
.group11 {
  position: absolute;
  left: 11.51px;
  top: 12px;
  overflow: visible;
}
.vector15 {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vuesax-linear-lovely7 {
  opacity: 0.5;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 463px;
  top: 2265px;
}
.group12 {
  position: absolute;
  left: 2.67px;
  top: 4.13px;
  overflow: visible;
}
.group13 {
  position: absolute;
  left: 11.51px;
  top: 12px;
  overflow: visible;
}
.vector18 {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vuesax-linear-lovely8 {
  opacity: 0.5;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 852px;
  top: 1642px;
}
.group14 {
  position: absolute;
  left: 2.67px;
  top: 4.13px;
  overflow: visible;
}
.group15 {
  position: absolute;
  left: 11.51px;
  top: 12px;
  overflow: visible;
}
.vector21 {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vuesax-linear-lovely9 {
  opacity: 0.5;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1044px;
  top: 1976px;
}
.group16 {
  position: absolute;
  left: 2.67px;
  top: 4.13px;
  overflow: visible;
}
.group17 {
  position: absolute;
  left: 11.51px;
  top: 12px;
  overflow: visible;
}
.vector24 {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vuesax-linear-lovely10 {
  opacity: 0.5;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 495px;
  top: 2422px;
}
.group18 {
  position: absolute;
  left: 2.67px;
  top: 4.13px;
  overflow: visible;
}
.group19 {
  position: absolute;
  left: 11.51px;
  top: 12px;
  overflow: visible;
}
.vector27 {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vuesax-linear-lovely11 {
  opacity: 0.5;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1229px;
  top: 2380px;
}
.group20 {
  position: absolute;
  left: 2.67px;
  top: 4.13px;
  overflow: visible;
}
.group21 {
  position: absolute;
  left: 11.51px;
  top: 12px;
  overflow: visible;
}
.vector30 {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-128 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1440px;
  height: 314px;
  position: absolute;
  left: 0px;
  top: 2704px;
  overflow: hidden;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 122px;
  top: 18px;
}
.charit-ease-logo-1 {
  flex-shrink: 0;
  width: 33.5px;
  height: 30px;
  position: relative;
}
.charit-ease {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--body-small-bold, 700 14px/24px "DM Sans", sans-serif);
  position: relative;
}
.frame-118 {
  display: flex;
  flex-direction: row;
  gap: 200px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 323px;
  top: 29px;
}
.quick-links {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 16px/32px "HelveticaNeue", sans-serif;
  position: relative;
}
.resources {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 16px/32px "HelveticaNeue", sans-serif;
  position: relative;
}
.help {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 16px/32px "HelveticaNeue", sans-serif;
  position: relative;
}
.contact-us {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 16px/32px "HelveticaNeue", sans-serif;
  position: relative;
}
.frame-329 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 1178px;
  top: 85px;
}
.teenyicons-twitter-solid {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.ic-round-facebook {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.ri-instagram-fill {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-509 {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 929px;
  top: 81px;
}
.frame-134 {
  flex-shrink: 0;
  width: 134px;
  height: 24px;
  position: relative;
}
.payment-queries {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.fa-qs {
  flex-shrink: 0;
  width: 40px;
  height: 24px;
  position: relative;
}
.fa-qs2 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-508 {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 628px;
  top: 81px;
}
.blog-updates {
  flex-shrink: 0;
  width: 102px;
  height: 24px;
  position: relative;
}
.blog-updates2 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.top-tips {
  flex-shrink: 0;
  width: 65px;
  height: 24px;
  position: relative;
}
.pricing {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.transparency-report {
  flex-shrink: 0;
  width: 160px;
  height: 24px;
  position: relative;
}
.transparency-report2 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-507 {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 323px;
  top: 81px;
}
.campaign-categories {
  flex-shrink: 0;
  width: 167px;
  height: 24px;
  position: relative;
}
.campaign-categories2 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: 700 16px/24px "DM Sans", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
}
.donations {
  flex-shrink: 0;
  width: 79px;
  height: 24px;
  position: relative;
}
.donations2 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.fundraisers {
  flex-shrink: 0;
  width: 92px;
  height: 24px;
  position: relative;
}
.fundraisers2 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.charity-organisations {
  flex-shrink: 0;
  width: 169px;
  height: 24px;
  position: relative;
}
.charity-organisations2 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.charit-ease-nav-bar {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 118px;
  top: 38px;
}
.nav-bar-container {
  display: flex;
  flex-direction: row;
  gap: 63px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.charit-ease-logo-12 {
  flex-shrink: 0;
  width: 54px;
  height: 48px;
  position: relative;
}
.charit-ease2 {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 16px/24px "DM Sans", sans-serif;
  position: relative;
}
.nav-bar {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1062px;
  position: relative;
}
.nav-bar {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
header nav {
  border: 3px solid red;
  display: inline-block;
}
nav a {
  color: blue;
  text-decoration: none;
  position: relative;
}
nav  {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: blue;
  text-decoration: none;
  position: relative;
}