.fa-qs,
.fa-qs * {
  box-sizing: border-box;
}
.fa-qs {
  background: #ffffff;
  width: 1220px;
  height: 2692px;
  position: relative;
  overflow: hidden;
}
.donation-community-service-volunteer-support-2 {
  width: 1440px;
  height: 542px;
  position: absolute;
  left: calc(50% - 720px);
  top: 156px;
}
.frequently-asked-questions {
  color: var(--secondarycolor-60-main, #ef3e23);
  text-align: left;
  font: 700 56px/68px "HelveticaNeue", sans-serif;
  position: absolute;
  left: calc(50% - 602px);
  top: 266px;
}
.hero-cta {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 120px;
  top: 486px;
}
.secondary-color {
  border-radius: 16px;
  border-style: solid;
  border-color: var(--white-10-stroke, #ffffff);
  border-width: 2px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 300px;
  height: 56px;
  position: relative;
}
.button {
  color: var(--white-10-stroke, #ffffff);
  text-align: left;
  font: 700 16px "HelveticaNeue", sans-serif;
  position: relative;
}
.frame-21 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 56px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button2 {
  color: var(--white-10, #ffffff);
  text-align: left;
  font: 500 16px "HelveticaNeue", sans-serif;
  position: relative;
}
.you-ll-likely-have-a-number-of-questions-throughout-your-fundraising-journey-so-we-ve-created-this-quick-faq-section-to-help-answer-some-of-the-most-frequent-questions-we-get-click-along-any-of-the-topics-here-on-the-left-to-get-answers-to-your-questions {
  color: var(--secondarycolor-10, #300c07);
  text-align: center;
  font: 500 18px/28px "DM Sans", sans-serif;
  position: absolute;
  left: calc(50% - 351px);
  top: 858px;
}
.here-at-charit-ease-we-know-that-fundraising-is-hard {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--header-h-4-bold, 700 32px/40px "HelveticaNeue", sans-serif);
  position: absolute;
  left: calc(50% - 407px);
  top: 758px;
}
.frame-426 {
  display: flex;
  flex-direction: column;
  gap: 97px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 121px;
  top: 1033px;
}
.frame-405 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-404 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.faq {
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1198px;
  position: relative;
}
.faq-button {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 20px;
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: row;
  gap: 837px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.what-is-charit-ease {
  color: var(--white-20-stroke, #d5d5d5);
  text-align: center;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
}
.vuesax-linear-add-circle {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.vuesax-linear-add-circle2 {
  position: absolute;
  inset: 0;
}
.add-circle {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.faq-button2 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 20px;
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: row;
  gap: 440px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.add-circle2 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.faq2 {
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1198px;
  position: relative;
}
.faq-button3 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 20px;
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: row;
  gap: 678px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.add-circle3 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.faq-button4 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 20px;
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: row;
  gap: 269px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.add-circle4 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.faq-button5 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 20px;
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: row;
  gap: 458px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.add-circle5 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.faq-button6 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 20px;
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: row;
  gap: 243px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.add-circle6 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.faq-button7 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 20px;
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: row;
  gap: 623px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.add-circle7 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.faq-button8 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 20px;
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: row;
  gap: 429px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.add-circle8 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.faq-button9 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 20px;
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: row;
  gap: 531px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.add-circle9 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.faq-button10 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 20px;
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: row;
  gap: 670px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.add-circle10 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-425 {
  flex-shrink: 0;
  width: 1200px;
  height: 286px;
  position: relative;
}
.rectangle-49 {
  border-radius: 10px;
  width: 1200px;
  height: 286px;
  position: absolute;
  left: calc(50% - 600px);
  top: 0px;
}
.primary-color {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 56px;
  position: absolute;
  left: 36px;
  top: 209px;
}
.button3 {
  color: var(--white-10-stroke, #ffffff);
  text-align: left;
  font: 500 16px "HelveticaNeue", sans-serif;
  position: relative;
}
.start-a-free-fundraiser-join-thousands-of-others-to-raise-money-for-your-cause {
  text-align: left;
  position: absolute;
  left: 36px;
  top: 68px;
}
.start-a-free-fundraiser-join-thousands-of-others-to-raise-money-for-your-cause-span {
  color: var(--secondarycolor-60-main, #ef3e23);
  font: 700 40px/40px "HelveticaNeue", sans-serif;
}
.start-a-free-fundraiser-join-thousands-of-others-to-raise-money-for-your-cause-span2 {
  color: var(--white-10-stroke, #ffffff);
  font: 500 24px/40px "HelveticaNeue", sans-serif;
}
.frame-128 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1440px;
  height: 314px;
  position: absolute;
  left: calc(50% - 720px);
  top: 2378px;
  overflow: hidden;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 122px;
  top: 18px;
}
.charit-ease-logo-1 {
  flex-shrink: 0;
  width: 33.5px;
  height: 30px;
  position: relative;
}
.charit-ease {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--body-small-bold, 700 14px/24px "DM Sans", sans-serif);
  position: relative;
}
.frame-118 {
  display: flex;
  flex-direction: row;
  gap: 200px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 323px;
  top: 29px;
}
.quick-links {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 16px/32px "HelveticaNeue", sans-serif;
  position: relative;
}
.resources {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 16px/32px "HelveticaNeue", sans-serif;
  position: relative;
}
.help {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 16px/32px "HelveticaNeue", sans-serif;
  position: relative;
}
.contact-us {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 16px/32px "HelveticaNeue", sans-serif;
  position: relative;
}
.frame-329 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 1178px;
  top: 85px;
}
.teenyicons-twitter-solid {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.ic-round-facebook {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.ri-instagram-fill {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-509 {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 929px;
  top: 81px;
}
.frame-134 {
  flex-shrink: 0;
  width: 134px;
  height: 24px;
  position: relative;
}
.payment-queries {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.fa-qs2 {
  flex-shrink: 0;
  width: 40px;
  height: 24px;
  position: relative;
}
.fa-qs3 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-508 {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 628px;
  top: 81px;
}
.blog-updates {
  flex-shrink: 0;
  width: 102px;
  height: 24px;
  position: relative;
}
.blog-updates2 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.top-tips {
  flex-shrink: 0;
  width: 65px;
  height: 24px;
  position: relative;
}
.pricing {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.transparency-report {
  flex-shrink: 0;
  width: 160px;
  height: 24px;
  position: relative;
}
.transparency-report2 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-507 {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 323px;
  top: 81px;
}
.campaign-categories {
  flex-shrink: 0;
  width: 167px;
  height: 24px;
  position: relative;
}
.campaign-categories2 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: 700 16px/24px "DM Sans", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
}
.donations {
  flex-shrink: 0;
  width: 79px;
  height: 24px;
  position: relative;
}
.donations2 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.fundraisers {
  flex-shrink: 0;
  width: 92px;
  height: 24px;
  position: relative;
}
.fundraisers2 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.charity-organisations {
  flex-shrink: 0;
  width: 169px;
  height: 24px;
  position: relative;
}
.charity-organisations2 {
  color: var(--primarycolor-40, #5680a2);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.charit-ease-nav-bar {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 118px;
  top: 38px;
}
.nav-bar-container {
  display: flex;
  flex-direction: row;
  gap: 63px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.charit-ease-logo-12 {
  flex-shrink: 0;
  width: 54px;
  height: 48px;
  position: relative;
}
.charit-ease2 {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 16px/24px "DM Sans", sans-serif;
  position: relative;
}
.nav-bar {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1062px;
  position: relative;
}
.nav-bar {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
header nav {
  border: 3px solid red;
  display: inline-block;
}
nav a {
  color: blue;
  text-decoration: none;
  position: relative;
}
nav  {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: blue;
  text-decoration: none;
  position: relative;
}