.fill-in-the-campaign-page,
.fill-in-the-campaign-page * {
  box-sizing: border-box;
}
.fill-in-the-campaign-page {
  background: #ffffff;
  width: 1440px;
  height: 2372px;
  position: relative;
  overflow: hidden;
}
.frame-530 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 120px;
  top: 934px;
}
.description {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--header-h-4-semi-bold, 500 32px/40px "HelveticaNeue", sans-serif);
  position: relative;
  width: 1100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-527 {
  background: var(--white-10, #ffffff);
  border-style: solid;
  border-color: var(--neutral-70, #2f2f2f);
  border-width: 1px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 288px;
  max-height: 288px;
  position: relative;
}
.enter-short-description-about-idea-of-startup {
  color: var(--white-40, #808080);
  text-align: left;
  font: var(--body-small-medium, 500 14px/24px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-529 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 120px;
  top: 518px;
}
.fundraiser-header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 120px;
  top: 155px;
}
.creating-a-fundraising-campaign {
  color: var(--primarycolor-70, #023561);
  text-align: left;
  font: 700 32px/48px "HelveticaNeue", sans-serif;
  position: relative;
}
.frame-117 {
  display: flex;
  flex-direction: row;
  gap: 160px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
}
.frame-114 {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.group-1 {
  flex-shrink: 0;
  width: 74px;
  height: 74px;
  position: static;
}
.ellipse-1 {
  background: var(--secondarycolor-60-main, #ef3e23);
  border-radius: 50%;
  width: 74px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._1 {
  color: var(--primarycolor-70, #023561);
  text-align: left;
  font: var(--header-h-3-bold, 700 40px/48px "HelveticaNeue", sans-serif);
  position: absolute;
  left: 26px;
  top: 13px;
}
.craft-your-story {
  color: #060606;
  text-align: left;
  font: 400 24px "DM Sans", sans-serif;
  position: relative;
}
.frame-115 {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.group-2 {
  flex-shrink: 0;
  width: 74px;
  height: 74px;
  position: static;
}
.ellipse-2 {
  background: var(--secondarycolor-60-main, #ef3e23);
  border-radius: 50%;
  width: 74px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._2 {
  color: var(--primarycolor-70, #023561);
  text-align: left;
  font: var(--header-h-3-bold, 700 40px/48px "HelveticaNeue", sans-serif);
  position: absolute;
  left: 26px;
  top: 13px;
}
.set-your-goals {
  color: var(--neutral-60, #060606);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.frame-116 {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.group-3 {
  flex-shrink: 0;
  width: 74px;
  height: 74px;
  position: static;
}
.ellipse-3 {
  background: var(--secondarycolor-60-main, #ef3e23);
  border-radius: 50%;
  width: 74px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._3 {
  color: var(--primarycolor-70, #023561);
  text-align: left;
  font: var(--header-h-3-bold, 700 40px/48px "HelveticaNeue", sans-serif);
  position: absolute;
  left: 26px;
  top: 13px;
}
.share-with-the-world {
  color: var(--neutral-60, #060606);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.frame-532 {
  display: flex;
  flex-direction: row;
  gap: 240px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 120px;
  top: 1350px;
}
.upload-cover-image {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.upload-cover-image2 {
  color: var(--primarycolor-70, #023561);
  text-align: left;
  font: 500 18px/28px "DM Sans", sans-serif;
  position: relative;
}
.frame-237 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 480px;
  height: 291px;
  position: relative;
}
.octicon-image-16 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._692-px-by-456-px {
  color: var(--white-10, #ffffff);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.upload-video {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.upload-video2 {
  color: var(--primarycolor-70, #023561);
  text-align: left;
  font: var(--body-large-medium, 500 18px/28px "DM Sans", sans-serif);
  position: relative;
}
.frame-238 {
  background: #024074;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 480px;
  height: 291px;
  position: relative;
}
.carbon-video-filled {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.mkv-mp-4-m-4-a {
  color: var(--white-10-stroke, #ffffff);
  text-align: left;
  font: var(--body-regular, 400 24px "DM Sans", sans-serif);
  position: relative;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  width: 269px;
  position: absolute;
  left: 122px;
  top: 1813px;
}
.frame-31 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 92px;
  position: relative;
}
.frame-28 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-field2 {
  color: var(--primarycolor-70, #023561);
  text-align: left;
  font: var(--body-large-medium, 500 18px/28px "DM Sans", sans-serif);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-25 {
  background: var(--white-10-stroke, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-field3 {
  color: var(--neutral-80, #595959);
  text-align: left;
  font: 400 14px/24px "DM Sans", sans-serif;
  text-transform: lowercase;
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.vuesax-linear-money-4 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.vuesax-linear-money-42 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-30 {
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-21 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 239px;
  height: 48px;
  position: absolute;
  left: 1081px;
  top: 1857px;
}
.button {
  color: #d5d5d5;
  text-align: left;
  font: var(--body-normal-medium, 500 16px/24px "DM Sans", sans-serif);
  position: relative;
}
.group-35 {
  position: absolute;
  inset: 0;
}
.group-36 {
  width: 1440px;
  height: 64px;
  position: static;
}
.group-47 {
  width: 1440px;
  height: 64px;
  position: static;
}
.group-63 {
  width: 1440px;
  height: 64px;
  position: static;
}
.rectangle-10 {
  background: var(--primarycolor-60-main, #024074);
  width: 1440px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 2308px;
}
.copyright-all-rights-reserved-to-charit-ease {
  color: var(--white-20-stroke, #d5d5d5);
  text-align: left;
  font: var(--caption-medium, 500 12px/16px "DM Sans", sans-serif);
  position: absolute;
  left: calc(50% - 137px);
  top: 2332px;
  width: 274.48px;
}
.frame-5292 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  width: 134.23px;
  position: absolute;
  left: 120.41px;
  top: 2318px;
}
.logo {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.charit-ease {
  color: var(--white-10-stroke, #ffffff);
  text-align: left;
  font: 700 16px/24px "DM Sans", sans-serif;
  position: relative;
}
.charit-ease-nav-bar {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 120px;
  top: 38px;
}
.nav-bar-container {
  display: flex;
  flex-direction: row;
  gap: 63px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.charit-ease-logo-1 {
  flex-shrink: 0;
  width: 54px;
  height: 48px;
  position: relative;
}
.charit-ease2 {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 16px/24px "DM Sans", sans-serif;
  position: relative;
}
.nav-bar {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1062px;
  position: relative;
}
.input-field4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 400px;
  position: absolute;
  left: 122px;
  top: 406px;
}
.frame-312 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 92px;
  position: relative;
}
.frame-282 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 68px;
  position: relative;
}
.input-field5 {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: var(--body-large-medium, 500 18px/28px "DM Sans", sans-serif);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.input-field6 {
  color: var(--neutral-80, #595959);
  text-align: left;
  font: var(--body-normal-regular, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-302 {
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
