.forget-password-page,
.forget-password-page * {
  box-sizing: border-box;
}
.forget-password-page {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.forgot-password {
  color: var(--neutral-20, #020202);
  text-align: left;
  font: var(--header-h-3-semi-bold, 500 40px/48px "HelveticaNeue", sans-serif);
  position: absolute;
  left: 120px;
  top: calc(50% - 80px);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-487 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 608px;
  top: 328px;
}
.frame-486 {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.please-enter-your-registered-email-address-we-will-get-back-to-you-with-the-reset-password-link-and-confirmation-otp {
  color: var(--neutral-20, #020202);
  text-align: left;
  font: var(--header-h-5-regular, 300 24px/32px "HelveticaNeue", sans-serif);
  position: relative;
  width: 494px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 656px;
  position: relative;
}
.frame-31 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 92px;
  position: relative;
}
.frame-28 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-field2 {
  color: var(--neutral-20, #020202);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-25 {
  background: var(--white-10-stroke, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-field3 {
  color: var(--neutral-80, #595959);
  text-align: left;
  font: var(--body-normal-regular, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-30 {
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-21 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 48px;
  position: relative;
}
.button {
  color: var(--white-10, #ffffff);
  text-align: left;
  font: 500 16px "HelveticaNeue", sans-serif;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 120px;
  top: 44px;
}
.charit-ease-logo-1 {
  flex-shrink: 0;
  width: 54px;
  height: 48px;
  position: relative;
}
.charit-ease {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 16px/24px "DM Sans", sans-serif;
  position: relative;
}
.group-35 {
  position: absolute;
  inset: 0;
}
.group-36 {
  width: 1440px;
  height: 64px;
  position: static;
}
.group-47 {
  width: 1440px;
  height: 64px;
  position: static;
}
.group-63 {
  width: 1440px;
  height: 64px;
  position: static;
}
.rectangle-10 {
  background: var(--primarycolor-60-main, #024074);
  width: 1440px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 960px;
}
.copyright-all-rights-reserved-to-charit-ease {
  color: var(--white-20-stroke, #d5d5d5);
  text-align: left;
  font: var(--caption-medium, 500 12px/16px "DM Sans", sans-serif);
  position: absolute;
  left: 573.43px;
  top: 984px;
  width: 274.48px;
}
.frame-529 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  width: 134.23px;
  position: absolute;
  left: 120.41px;
  top: 970px;
}
.logo2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.charit-ease2 {
  color: var(--white-10-stroke, #ffffff);
  text-align: left;
  font: 700 16px/24px "DM Sans", sans-serif;
  position: relative;
}
