.log-in-page,
.log-in-page * {
  box-sizing: border-box;
}
.log-in-page {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
._54501-2 {
  border-radius: 117px 0px 161px 0px;
  width: 488px;
  height: 717px;
  position: absolute;
  left: 120px;
  top: calc(50% - 358px);
}
.frame-110 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1075px;
  top: 58px;
}
.do-not-have-an-account {
  color: var(--neutral-20, #020202);
  text-align: left;
  font: var(--body-normal-regular, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
}
.sign-up {
  color: var(--neutral-20, #020202);
  text-align: left;
  font: var(--body-normal-regular, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
}
.frame-479 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 656px;
  position: absolute;
  left: 664px;
  top: 298px;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 656px;
  position: relative;
}
.frame-31 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 92px;
  position: relative;
}
.frame-28 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-field2 {
  color: var(--neutral-20, #020202);
  text-align: left;
  font: var(--body-normal-bold, 700 16px/24px "DM Sans", sans-serif);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-25 {
  background: var(--white-10-stroke, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-field3 {
  color: var(--neutral-80, #595959);
  text-align: left;
  font: var(--body-normal-regular, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-30 {
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-463 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vuesax-linear-eye-slash {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.vuesax-linear-eye-slash2 {
  position: absolute;
  inset: 0;
}
.eye-slash {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.forgot-password {
  color: var(--neutral-20, #020202);
  text-align: left;
  font: var(--body-small-regular, 400 14px/24px "DM Sans", sans-serif);
  position: absolute;
  left: 2px;
  top: 64px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-97 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 288px;
  position: relative;
}
.by-continuing-you-agree-to-charit-ease-terms-and-condition {
  color: var(--neutral-20, #020202);
  text-align: left;
  font: var(--body-normal-regular, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
  width: 288px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-21 {
  background: var(--primarycolor-60-main, #024074);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 48px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button {
  color: var(--white-10, #ffffff);
  text-align: left;
  font: 500 16px "HelveticaNeue", sans-serif;
  position: relative;
}
.frame-462 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 136px;
  top: 385px;
}
.welcome-back {
  color: #000000;
  text-align: left;
  font: var(--header-h-4-regular, 300 32px/40px "HelveticaNeue", sans-serif);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.log-in-to-charit-ease {
  color: #000000;
  text-align: left;
  font: var(--header-h-3-bold, 700 40px/48px "HelveticaNeue", sans-serif);
  position: relative;
  width: 245px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 120px;
  top: 44px;
}
.charit-ease-logo-1 {
  flex-shrink: 0;
  width: 54px;
  height: 48px;
  position: relative;
}
.charit-ease {
  color: var(--primarycolor-60-main, #024074);
  text-align: left;
  font: 700 16px/24px "DM Sans", sans-serif;
  position: relative;
}
.group-35 {
  position: absolute;
  inset: 0;
}
.group-36 {
  width: 1440px;
  height: 64px;
  position: static;
}
.group-47 {
  width: 1440px;
  height: 64px;
  position: static;
}
.group-63 {
  width: 1440px;
  height: 64px;
  position: static;
}
.rectangle-10 {
  background: var(--primarycolor-60-main, #024074);
  width: 1440px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 960px;
}
.copyright-all-rights-reserved-to-charit-ease {
  color: var(--white-20-stroke, #d5d5d5);
  text-align: left;
  font: var(--caption-medium, 500 12px/16px "DM Sans", sans-serif);
  position: absolute;
  left: calc(50% - 137px);
  top: 984px;
  width: 274.48px;
}
.frame-529 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  width: 134.23px;
  position: absolute;
  left: 120.41px;
  top: 970px;
}
.logo2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.charit-ease2 {
  color: var(--white-10-stroke, #ffffff);
  text-align: left;
  font: 700 16px/24px "DM Sans", sans-serif;
  position: relative;
}
